<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH:-/data/data/com.gonzaloracergalan.portfolio/files}/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="LOGCAT" />
        <!-- Descomenta la siguiente línea para activar el logging a fichero -->
        <!-- <appender-ref ref="FILE" /> -->
    </root>
</configuration>
